[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettyconf = "*"
esptool = "*"
mpfshell = "*"
fabulous = "*"
requests = "*"
dateparser = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
rope = "*"

[requires]
python_version = "3.6"
